body, html{
  font-family: 'Livvic', sans-serif;
  min-width:100%;
  width:100%;  
  background: #f1f2f6;
  color: #34495e;
}
.main-container{        
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;  
}
.main-container > *{  
  margin-bottom:20px;
  margin-top:20px;
} 
/* .main-container{
  background: beige;
   text-align:center; 
} */
.social-icons-container > *{
  margin-left:20px;
}